* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

#grid {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.block {
    border: 1px solid black; 
}


.hover {
    background-color: black;
}