* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}
.fixed-size {
    width: 680px;
    height: 680px;
}
.grow {
    flex: 1;
}

.block {
    border: 1px solid black;
}

.hover {
    background-color: black;
}

.button {
    justify-content: center;
}

.button {
    margin: 1%;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
}